PORT=you port is here
FRONTEND_URL='your font end url here'
NODE_ENV = 'you development mode here'
MONGO_URI='your mongo url here'
REDIS_URL='your redis url here'
HOST_EMAIL='you nodemailer email id is here'
EMAIL_PASS='node mailer email pass here'
ACCESS_SECRET=your jwt access token secret here
REFRESH_SECRET=you jwt refresh token here
GOOGLE_CLIENT_ID= your google client id is here
GOOGLE_CLIENT_SECRET= your google client secret is here

DB_OBJECT_ID_LENGTH =you db object id length is here
DB_OBJECT_ID_REGEX =" your db object id regex is here"

OTP_VALIDATION_TIME=otp validation time is here in seconds


TAX_RATE=invoice tax rate here

AWS_ACCESS_KEY_ID=aws access key here
AWS_SECRET_ACCESS_KEY=aws access secret key here
AWS_REGION=aws region here
AWS_S3_BUCKET=your s3 bucket name here

STRIPE_SECRET_KEY=stripe secret key here
